#container{
    cursor: pointer;
}

#sildeshow1>img {
    width: 100%;
    height: 60%;
}
img{
    width: 100%;
}
#top_deals_of_end_images {
    display: flex;
    gap: 10px;
    transition: 0.5s;
}
#top_deals_of_end{
    transition: 0.5s;
}
#top_deals_of_end:hover{
    transform: scale(1.1);
}

#top_deals_of_end_images>img {
    width: 25%;
    transition: 0.5s;
}
#top_deals_of_end_images>img:hover{
    transform:scale(1.03)
}
#far_brands:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#fresh_season >img:hover{
    transition: 0.5s;
    transform: scale(1.03);
}
#bag_it > img:hover{
    transition: 0.5s;
    transform: scale(1.03);
}
#our_exclusive:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#trends > img:hover{
    margin-top: 10px;
    transform: scale(1.03);
    transition: 0.5s;
}
#fall_in_love > img:hover{
    transition: 0.5s;
    transform: scale(1.03);
}
#images_grid > img:hover{
    transition: 0.5s;
    transform: scale(1.03);
}
#best_of_international:hover{
    transition: 0.5s;
    transform: scale(1.03);
}
#best_of_internantional_images > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#your_five_brands:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#your_five_brands_img > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#exclusively_yours:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#ensembles:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#ensembles_img > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#the_best:hover, #the_best_img > img:hover {
    transition: 0.8s;
    transform: scale(1.03);
}
#beauty_packs:hover, #beauty_packs_img > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#discover_online:hover, #discover_online_img > img:hover,#discover_online_img2 > img:hover,#discover_online_img3>img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#styles_celebs:hover, #styles_celebs_img > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#top_brands_on_dis:hover, #top_brands_on_dis_img > img:hover, #top_brands_on_dis_img2 > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#feet_uring:hover, #feet_uring_img > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#comfort:hover, #comfort_img > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#perfect_plus:hover, #perfect_plus_img > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#stylish:hover, #stylish_img > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#stylish_home_edit:hover, #stylish_home_edit_img > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#new_deals:hover, #new_deals_img > img:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#ajio_cares:hover{
    transition: 0.8s;
    transform: scale(1.03);
}
#cashback{
    display: flex;
    transition: 0.7s;
}
#cashback > img:hover{
    transform: scale(1.03)
}
#images_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#best_of_internantional_images{
    display: flex;
} 
 #your_five_brands_img{
    display: flex; 
}
#ensembles_img{
    display: flex;
} 
 #the_best_img{
    display: flex;
 }
#beauty_packs_img{
    display: flex;
}
#discover_online_img2{
    display: flex;
}
#discover_online_img3{
    display: flex;
} 
 #styles_celebs_img{
    display: flex;
}
#top_brands_on_dis_img{
    display: flex;
}
#top_brands_on_dis_img2{
    display: flex;
}
#feet_uring_img{
    display: flex;
}
#comfort_img{
    display: flex;
}
#perfect_plus_img{
    display: flex;
}
#stylish_img{
    display: flex;
}
#stylish_home_edit_img{
    display: flex;
}
#new_deals_img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* navbar */
#navbar-img:hover{
    transition: 0.7s;
    transform: scale(1.03);
}

#navbar{
    height:72px;
    width:100%;
    border-top: 3px solid rgb(47,66,84);
    display: flex;
    /* justify-content: space-around; */

}
#navbar-left{
    height:65px;
    width:25%;
    border:1px solid transparent;
    margin-left: 80px;

}
#navbar-right{
    height:100%;
    width:60%;
    border:1px solid transparent;
    margin-right: 50px;
    margin-left: 50px;
    

}
#right-upper{
    height:50% ;
    width:100%;
    border:1px solid transparent;
    display:flex;
    justify-content: right;
    gap:22px;
    align-items: center;
}
#right-upper:hover{
    cursor: pointer;
}
#right-lower{
    height:50% ;
    width:100%;
    border:1px solid transparent;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    color:rgb(106,106,106);
    margin-top: 3px;
}
#rl:hover{
    font-weight: bold;
    cursor: pointer;
}
#site-logo{
    height:100%;
    width:35%;
    margin-left: 60px;
}
#navbar-button{
    height:100%;
    background-color: black;
    color:white;
    font-size: 12px;
    font-family: sans-serif;
    margin-right: 30px;
    cursor: pointer;
   
}
#navbar-input{
    border-radius: 15px;
    width: 250px;
    height:25px;

}
#ru{
    font-size: 12px;
    color:rgb(106,106,106);
    text-decoration: none;
    font-family: sans-serif;
}
#navbar-image{
    height:100px;
    width:100%;
    border:1px solid transparent;
    margin-top: 10px;
    
}
#navbar-img{
    height:100%;
    width:100%;
}
#bar-img{
    height:100%;
    width:4%;
    cursor: pointer;
    background-color: rgb(47,66,84);
    color: white;
}



/* footer */

.footer {
    text-transform: uppercase;
    background-color: rgb(44, 65, 82);
    box-sizing: border-box;
    padding: 70px 70px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    border-top: gray;
    text-align: justify;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 20%;
    padding: 0 30px;
}

.footer-col h4 {
    font-size: 13px;
    color: rgb(255,255,255);
    margin-bottom: 35px;
    font-weight: bolder;
    position: relative;
    margin-left: 38px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

ul {
    list-style-type: none;
}

.footer-col ul li a {
    font-size: 11px;
    text-decoration: none;
    font-weight: 300;
    color: rgb(255,255,255);
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    padding-left: 8px;
}

.social-links a {
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 40px;
    border-radius: 15%;
    color: #222;
    transition: all 0.5s ease;

}

.social-links {
    display: flex;
    gap: 20px;
}

#first-right {
    height: 100%;
    width: 25%;
    /* font-size: 11px; */
    color: rgb(104, 101, 101);
}

.right {
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: left;
}

.right>p {
    font-family: HCoGothamSSmLight, Arial, Sans-Serif;
    font-size: 1rem;
    font-weight: 600;
    border-left: 1px solid gray;
    padding-left: 10px;
    color: gray;
}

#bottom-footer{
    height: 140px;
    width: 100%;
    background-color: rgb(44, 65, 82);
    justify-content: space-between;
    display: flex;
    
}
#main{
    /* font-size: 14px; */

    width: 40%;
    margin-left: 110px;
    margin-top: 30px;
    color: rgb(255,255,255);
    
}

#btm-left{
    font-size: 14px;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}
#btm-right{
    margin-top: 32px;
    color: rgb(255,255,255);
    margin-right: 110px;
}
#f-btns{
    display: grid;
    text-align: center;
   margin-top: 18px;
    height: 110px;
    width: 55px;
    margin-right: 45px;
    grid-gap: 5px;

}
#foot-btn{
  
    background-color: #ffffff;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    cursor: pointer;
}
#foot-btn1{
    background-color: #ffffff;
    font-size: 35px;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    cursor: pointer;
    
}